.stats-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 800px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .stats-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stat-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  align-items: center;
  height: 120px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Darker and deeper shadow */
}


.stat-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stat-content h4 {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.stat-content h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 4px 0;
  color: #111;
}

.stat-content p {
  font-size: 13px;
  color: #888;
  margin: 0;
}

.icon-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: #e0ecff;
  color: #3b82f6;
}

.green {
  background-color: #e6f9ec;
  color: #10b981;
}

.purple {
  background-color: #f2e8ff;
  color: #a855f7;
}

.orange {
  background-color: #fff4e6;
  color: #f97316;
}
